<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>NFL Playoffs</title>
</head>
<body>
    <h1>NFL Playoff Teams</h1>
    <a href="/teams">View NFL Teams</a>
    <a href="/teams/new">Add New Team</a>
</body>
</html>