<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>NFL Playoffs</title>
  </head>
  <body>
    <img src="/images/nfl-seeklogo.png" alt="nfl logo" />
    <div class="text-container">
      <h1>NFL Playoff Teams</h1>
      <p>
        Welcome to Your NFL Team Tracker! <br />
        Here you can add your favorite NFL team, categorize them by conference,
        and mark whether your team made it to the 2025 playoffs. <br />
        Keeping track of your team's journey this season can not get any
        simplier than this!
      </p>
      <nav>
        <ul>
          <li><a href="/teams">View NFL Teams</a></li>
          <li><a href="/teams/new">Add New Team</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
